head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    title no aviasales

    mixin rowsTable(cityFrom, airoportFrom, dateFrom, cityTo, airoportTo, dateTo, price)
        tr
            td #{cityFrom} [ #{ airoportFrom} ]
            td #{dateFrom}
            td #{cityTo} [ #{ airoportTo} ]
            td #{dateTo}
            td #{price}
    mixin test(test)
        tr
            td #{test}
body
    .container
        br
        div
            table.table.table-hover
                thead.bg-light.text-primary
                    tr
                        th откуда
                        th время отправления
                        th куда
                        th время прибытия
                        th цена
                tbody
                    -for(let i = 0; i < flightCheapAllInfarmation.length; i++)
                        +rowsTable(
                            flightCheapAllInfarmation[i].airport_from.city.dataValues.city_name,
                            flightCheapAllInfarmation[i].airport_from.dataValues.airport_name,
                            flightCheapAllInfarmation[i].dataValues.flight_data_from,
                            flightCheapAllInfarmation[i].airport_to.city.dataValues.city_name,
                            flightCheapAllInfarmation[i].airport_to.dataValues.airport_name,
                            flightCheapAllInfarmation[i].dataValues.flight_data_to,
                            flightCheapAllInfarmation[i].dataValues.flight_price
                        )
                    tr
                        td
                        td
                        td
                        td #{ timeWay}
                        td #{flightCheapCost}


    nav.navbar.fixed-bottom.navbar-expand-sm.navbar-light.bg-light
        footer.main-footer.d-flex.p-2.px-3(style='margin: 0 0 0 auto;')
            span.text-muted.ml-auto.my-auto.mr-2 no aviasales &copy; 2019 ma_daria

    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')